  /** Fondo animado  **/
  html,
  body {
    background: linear-gradient(
      121deg,
      rgba(190, 166, 255, 1) 23%,
      rgba(132, 61, 255, 1) 73%,
      rgba(107, 4, 253, 1) 99%
    );
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  html {
    scroll-behavior: smooth;
  }