.fade {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fade.hide {
  opacity: 1;
}

#ClasesImgs {    
  min-width: 612px;
  min-height: 612px;
  max-width: 612px;
  max-height: 612px;
  width: auto;
  height: auto;
}