section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

#contact-section .contact-section {
    height: auto; /* Ajusta según tus necesidades */
    opacity: 1; /* Evita la animación en esta sección específica */
    transform: translateY(0); /* Evita la animación en esta sección específica */
}
