/* <-------NORMALICE-------> */
* {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  background: linear-gradient(121deg, rgba(190, 166, 255, 1) 23%, rgba(132, 61, 255, 1) 73%, rgba(107, 4, 253, 1) 99%);
}

a {
  color: black;
}
a:hover {
  color: #f2f0ff;
}
li:hover,
.nombre:hover,
.logo img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
p {
  font-size: 25px;
}
/* <-------FIN NORMALICE-------> */
/* <----Estilos general----> */

header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 5px 10%;
}

.logo img {
  height: 60px;
  width: auto;
}
nav ul li {
  display: inline-block;
  padding: 20px;
  font-size: 30px;
}
.presentacion {
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentacion img {
  padding: 50px;
}
.nombre {
  font-size: 80px;
  margin: 0 70px 0 15px;
  color: #f2f0ff;
}

.objetivo {
  display: flex;
  align-items: center;
}
.objetivo h2 {
  font-size: 60px;
  margin: 0 0 50px 0;
}
.objetivo img {
  margin: 0 0 0 90px;
  padding: 50px;
}
.divObjetivo {
  width: 50%;
}
.clases {
  display: flex;
  align-items: center;
}
.clases h2 {
  font-size: 60px;
  margin: 0 0 50px 0;
}
.clases img {
  margin: 0 0 0 90px;
  padding: 50px;
}
.divClases {
  width: 50%;
}
.contacto {
  display: flex;
  align-items: center;
}
.contacto h2 {
  font-size: 60px;
  margin: 0 0 50px 0;
}
.contacto img {
  margin: 0 0 0 90px;
  padding: 50px;
}
.divContacto {
  width: 50%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

button {
  color: #f2f0ff;
  background-color: #843dff;
  border-radius: 10px;
  font-size: 25px;
  padding: 10px;
  margin: 35px;
  width: fit-content;
}

button:hover {
  color: #f2f0ff;
  background-color: #9f75ff;
  cursor: pointer;
}
